<div [ngBusy]="busy"></div>

<div class="container">
      <h2>Management (Import)</h2>

    <div class="panel panel-default row" style="background-color:#f0f0f0; margin-top:40px">
        <div class="panel-body">
            <div id="main-content" class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <label style="font-size:14px">Select File:</label>
                            <div class="input-group image-preview">
                                <input [(ngModel)]="this.fileName" type="text" class="form-control image-preview-filename">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>
                                    <div class="btn btn-default image-preview-input">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">Browse</span>
                                        <input type="file" (change)="changeListener($event)" data-allowed-file-extensions='["csv", "txt"]' /> 
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <p class="helpertext">Use the following tool to bulk-upload data.</p>

                </div>
            </div>
            <div id="footer" class="panel panel-default" style="border:0">
                <div class="panel-body" style="margin: 0 auto">
                    <button type="button" class="btn btn-primary"(click)="this.SubmitBulkInsert()" style="margin-right:15px" >Import data</button>

                </div>
            </div>
        </div>
        <!-- /. outer-panel-body -->
    </div>
    <!-- /. outer panel -->
</div>
<!-- /.container -->