.panel, h2 {
    width:90%;
    margin: 0 auto;
}

#filter, #main-content {
    margin-bottom:15px;
}


.filter-label{
    background-color: transparent;
    font-size:14px;
    color:#333333;
}

.filter-label, #filter > .dropdown {
    float:left;
}

.filter-label {
    margin: 8px;
}